.Hand {
    margin: 2rem auto;
    color: rgb(169, 8, 169);
    text-align: center;
}



.Hand a {
    color: rgb(169, 8, 169);
    transition: all 0.3s linear;
    padding: 1rem;
    font-weight: 500;
}

.Hand a:hover {
    font-size: 1.5rem;
}

.Hand img {
    width: 200px;
    height: 200px;
    margin-top: 4rem;
}

@media only screen and (max-width: 768px) {
    .links a {
        display: block;
    }
}

@media only screen and (max-width: 352px) {
    .Hand h1 {
        font-size: 1.5rem;
    }
}